/* From Uiverse.io by mi-series */ 
button{
  background-color: #00A67E;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  height: 40px;
  width: 110px;
  margin-left: 3px;
  margin-top: 12px;
}

button:hover{
  background-color: #008f6f;
}
body{
  display: flex;
  flex-direction: column;
  background-color: rgb(71, 70, 70);
  width: 230px ;
  height: 300px; 
}


#btn{
  margin-left: 50px;
  height: 50px;
  width: 130px;
  border-radius: 10px;
  font-size: 20px;
}

label{
  margin-bottom: 5px;
  margin-top: 5px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-decoration: underline;
}
h2{
  text-align: center;
  color: white;
  font-size: 25px;
}

label, input{
  margin-left: 5px;
  margin-right: 5px;
}